input.shake {
  -webkit-animation: shake .5s;
  animation: shake  .5s;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(1em);
  }
  40% {
    transform: translate(-1em);
  }
  60% {
    transform: translate(1em);
  }
  80% {
    transform: translate(-1em);
  }
  100% {
    transform: translate(0);
  }
}

.question-passage .fill-in-blank {
  margin-bottom:5px;
}
